
/**font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Khula', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Cambay', sans-serif;**/

body {
  font-family: 'BlinkMacSystemFont';
}

/*******navbar**********/

.navbar {	
  width: 100%;
  position: fixed;
  height: auto;
  margin: auto;
  padding: 0px;
}



.bg-trans {
  color: white;
}


.bg-trans h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}


.bg-trans {
  transition: 650ms ease;
  background: transparent !important;
}

  
.bg-trans.scrolled {
  background: white !important;
  color: black;
  ox-shadow: 0 0 0.4px 0;
}

.bg-trans.scrolled h1 {
  color: black !important;
}

.menu {
  font-weight: lighter;
  font-size: 3rem;

}

/*.menu:hover {
  color: red;
}*/

@media screen and (max-width: 540px) {
  .bg-trans h1 {
    font-size: 1.5rem;
  }

  .menu {
    font-size: 2rem;
  }

  .overlay .social {
    font-size: 15px;
  }
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;  
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0,0.82); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%; /* 25% from the top */
  width: 80%; /* 100% width */
  text-align: right; /* Posizione text/links */
  /*margin-top: 10px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 55px;
  font-weight: 100;
  text-align: right;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.2s; /* Transition effects on hover (color) */
}

.overlay .social {
  padding-top: 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  float: right;
  color: white;
  display: inline; /* Display block instead of inline */
  transition: 0.2s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover {
  color: red;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: relative;
  top: 10%;
  width: 88%;
  text-align: right; 
  font-size: 40px;
  font-weight: 100;
  /*margin-top: 30px;*/
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 540px) {
  .overlay a {
    font-size: 45px;
  }

  .overlay .closebtn {
    font-size: 30px;
  }

  .overlay .social {
    font-size: 15px;
  }
}


/***********Header**************/

#carouselExampleIndicators img {
  height: 670px;
  min-height: 600px;
  width: 100%;
  object-fit: cover;
  background-color: rgb(0,0,0,1), rgba(0,0,0,2);
}

.display-4 {
    font-size: 3rem;
    font-weight: 200;
  }

@media screen and (max-width: 540px) {
  .display-4 {
    font-size: 2.2rem;
  }
}




/*.jumbotron {
  height: 700px;
  padding: 0;
  margin-bottom: 0;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), ur('../images/wls_vista-3d-4def.jpg') no-repeat center / cover;
	color: #ffff;
  box-shadow: 0 0 5px 0;
}

.header-h1 {
 padding-top: 390px;
}

.header-h1 h1{
 font-size: 3.2em;
 font-weight: 500;
 text-shadow: black
}


/**About**/

#about .container {
	padding-top: 150px;
	padding-bottom: 100px;
}

#about h3 {
    font-size: 2.5rem;
    font-weight: 200;
  }

#about p {
  font-size: 1.2rem;
  font-weight: 100;
}

@media screen and (max-width: 540px) {
  #about h3 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }

  #about p {
  font-size: 1rem;
  font-weight: 200
  }
}




/**Portfolio**/

#portfolio .container {
  padding-top: 100px;
  padding-bottom: 100px;
  }

#portfolio .row-project-title {
  padding-bottom: 30px;
}  
  
#portfolio .row-project {
  padding-top: 30px;
  padding-bottom: 30px;
}  

#portfolio .row-project img {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
  }

#portfolio .row-project img:hover {
  color: red;
}
    

  
	/**Footer**/

#footer {
  background-color: white;
}

#footer .row {
padding-bottom: 20px;
padding-top: 20px;
}

  
#footer .contatti h5 {
  margin-bottom: 0;
  color: white;
  font-size: 18px;
  font-weight: 100; 
  padding-top: 5px;
  padding-bottom: 10px;
} 

#footer .contatti p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
  font-weight: 100; 
  padding-top: 0px;
  padding-bottom: 1px;
} 

#footer .copyright h5 {
  margin-bottom: 0;
  color: black;
  font-size: 16px;
  font-weight: 500; 
  padding-top: 5px;
} 

#footer .social p {
  margin-bottom: 0;
  color: black;
  font-size: 18px;
  font-weight: 200;
  padding-top: 0px;
  padding-bottom: 1px;
  display: inline;
  text-align: center;
  

}  

#footer .copyright h6{
  margin-bottom: 0;
  color: black;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
} 

#footer .copyright p {
  margin-bottom: 0;
  color: black;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
} 

#footer .credits h6 {
  margin-bottom: 0;
  color: black;
  font-size: 12px;
  font-weight: 300;
  text-align: right;

} 



